# Ignore virtual environment
myvenv/
venv/

# Ignore Python cache files
pycache/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore compiled C extensions
*.so

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore environment variables and secrets
.env
*.env